@import url(styles/header.css);

:root{
    --cor-fundo:     #9949b4;
    --cor-cabecalho:     #FFFFFF;
}

body{
    background-color: var(--cor-fundo) ;
    margin: 0;
}

.cabecalho{
    background-color: var(--cor-cabecalho);
    padding: 1em;
}

.container{
    display: flex;
    align-items: center;
}

.container imagem, .container frase{
    padding: 1em;
}
